.navbar {
    background-color: #151414;
    padding: 10px;
    color: #e8dddd;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .navbar-logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
  }
  
  .navbar-links {
    margin-left: auto;
  }
  